.chat-main
 .chat-main__group-info
  .chat-main__group-info__left-box
   %p.chat-main__group-info__left-box__user-name
    = @group.name 

    %ul.chat-main__group-info__left-box__member
     - @group.users.each do |user|
      %li 
      = user.name    
  
  .chat-main__group-info__header__edit-btn
   = link_to "/groups/#{@group.id}/edit", class:"ctn-btn" do
    Edit

 .chat-main__message-list
  = render @messages
  
 .form
  .new-message
   = form_for [@group, @message] do |f|
    .input-form
     = f.text_field :content, class: 'type-message', placeholder: 'type a message'
    
     = f.label :image, class: 'input-box__image' do
      = icon('fas', 'image', class: 'icon')
      = f.file_field :image, class: 'input-box"'
    = f.submit 'Send', class: 'submit-btn'