.side-bar
 .side-bar-user
  .side-bar-user-box
   %p.side-haeder-box__username
    = current_user.name
   %ul.side-header-box__icon
    %li.side-header-box__edit
     = link_to new_group_path do   
      = icon('fas', 'edit')
    %li.side-header__box__new-group 
     = link_to edit_user_path(current_user) do
      = icon('fas', 'cog')

 .side-bar-gruop
  - current_user.groups.each do |group|
   = link_to "/groups/#{group.id}/messages", class: "side-bar-group-list" do
    %p.side-bar-group-list-name
     = group.name
    %p.side-bar-group-list-message
     = group.show_last_message


  